body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color:#fff;
	font-family:HELVETICA;
	font-weight:900;
	
}
.jumbotron {
background-image: url("../img/contact.jpg");
background-size: cover;
}

.carousel-caption{
  padding-bottom: 300px;
}

.carousel {
  max-height: 700px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
  }
}

/* ==========================================================================
   SECTIONS - Rosalina Lash
   ========================================================================== */   
   
section {
    display: block;
  
    height:100%;
    width:100%;
	box-sizing:border-box;
}



#home {
    
    font-size: 30px;
	padding: 60px;
   
}

#skills {
  
    font-size: 30px;
	padding: 60px;
  }

#contact {
    background: #fff;
    font-size: 30px;
	padding: 5px;

}